@page
@model MyScriptureJournal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "My Scriptures";
}

<h1 class="title">My Scriptures Notes</h1>
<hr />
<div style="display:flex; margin-top:10px">
    <form class="form-inline">
        <input asp-for="SearchString" class="form-control mr-sm-2" type="search" placeholder="Search Scripture" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filter">Search</button>
    </form>
    <form class="form-inline" style="margin-left:15px">
        <input asp-for="Notes" class="form-control mr-sm-2" type="search" placeholder="Search Scripture" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filter">Search</button>
    </form>
</div>
<div style="display:flex; margin-top:15px">
    <form class="form-inline">
        <select asp-for="Filter" id="sel1" class="form-control mr-sm-2">
            <option disabled selected>Filter</option>
            <option>Book</option>
            <option>Date</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filter">Filter</button>
    </form>
    <div style="margin-left:15px">
        <a asp-page="Create" class="btn btn-primary">Add New</a>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].ScriptureReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Scripture)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScriptureReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
